.download {
    margin: 1.5rem;
    margin-bottom: 10rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 4px 1px lightgrey;

    &_icons{
        display: flex;
        justify-content: center;
    }
    
    &_link{
        text-decoration: none;
        color: black;       
        font-size: 32px;

        &:hover{
            color: #00cdac;
        }
    }

}

.dd_paragraph {
   @include fireup-border;      
}

.full-justify{
    @include full-justification;
}

.privacy-policy{
    margin-top: 120px;
    // @include fireup-border;
}