#partners_section {
    margin: 0 15px;

    .section-title{
        color: $primary-color;
    }

    @include respond(phone) {
    border-top: 3px;
    border-color: $primary-color;
    border-top-style: solid;
    }
}

.partners {
    display: flex;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap; 
}

.sponsor{
    padding: 5px;

    @include respond(phone) {
            width: 50%;
            justify-content: center;
            padding: 30px 0 30px 0;         
  }
}

.sponsor:nth-of-type(1) {

    @include respond(phone) {
    width: 100%;
    border-width: 1px;  
  }
}

.sponsor:nth-of-type(2) {

    @include respond(phone) {
    width: 50%;
    border-width: 1px;
    border-color: $primary-color;
    border-right-style: solid;      
    border-top-style: solid;    
  }
}

.sponsor:nth-of-type(3) {

    @include respond(phone) {
    width: 50%;
    border-width: 1px;
    border-color: $primary-color;
    border-left-style: solid;        
    border-top-style: solid;    
  }
}

.sponsor_img {
    height:40px;
    width:115.744px;
}

