.download {
    margin-bottom: 5px;
    background-color: white;

    &_icons{
        display: flex;
        justify-content: center;
    }
    
    &_link{
        text-decoration: none;
        color: black;       
        font-size: 32px;

        &:hover{
            color: #00cdac;
        }
    }

}

.dd_paragraph {
   @include fireup-border;      
}

.full-justify{
    @include full-justification;
}