.download {
    margin-bottom: 50px;
    background-color: white;
    
    &_link{
        text-decoration: none;
        color: black;       
        font-size: 32px;

        &:hover{
            color: green;
        }
    }

}

.dd_paragraph {
    background-color: red;       
}
